__pycache__/
*.py[cod]
.venv/
.uv-cache/
.env
.pytest_cache/
.ruff_cache/
.mypy_cache/
data/
*.db
mock_api.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/installbiz-test.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
